@model SciApp.Core.User
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/scripts/jquery-3.1.1.js"></script>
</head>
<body>
<h1 id="home">Home</h1>
    <h2>User Home</h2>
    @if (Model != null)
    {
        <h1>Hello <span id="lblUsername">@Model.Username</span></h1>
    }

</body>
</html>