@model dynamic

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>upload file result</title>
</head>
<body>
    <div>
        <strong id="fileName">@ViewBag.FileName</strong>uploaded successfullly
    </div>
</body>
</html>