
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Banner</title>
    <style type="text/css">
        .banner-block {
            display: inline-block;
        }

        .banner {
            background: url(/contents/images/banner.png) no-repeat;
            height: 72px;
            width: 205px;
            float:left;
        }

        .banner-amount {
            background-color: #006400;
            height: 72px;
            min-width: 25px;
            display: inline-block;
            float:left;
        }
    </style>
</head>
<body>
    <div class="banner-block">
        <div class="banner"></div>
        <div class="banner-amount">
            $20000000
        </div>
    </div>
    <div>Phuong</div>
</body>
</html>
