@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>home</title>
    <link href="~/contents/css/style.css" rel="stylesheet" />

    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/jquery-3.1.0.min.js"></script>
    <script type="text/javascript">

        $(function () {
            $("#test1").css("background-color", "red");
        });
    </script>
</head>
<body>
<h1 id="home">Home</h1>
    <div>
        <p> direct child paragraph </p>
    </div>

    <p>direct sibling paragraph</p>
    <p>next sibling paragraph</p>

    <div id="test1">A</div>
    <div id="test1">B</div>
</body>
</html>