@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>home</title>
    <link href="~/contents/css/style.css" rel="stylesheet" />
</head>
<body>

    <div>
        <p> direct child paragraph </p>
    </div>

    <p>direct sibling paragraph</p>
    <p>next sibling paragraph</p>

</body>
</html>