<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">

  <variable name="myvar" value="myvalue"/>

  <targets>
    <target name="file" xsi:type="File" fileName="logs/log.txt" />
    <target name="mail" xsi:type="Mail" encoding="UTF-8" useSystemNetMailSettings="true" from="from@mail.com" to="to@mail.com" subject="subject" layout="layout"/>
  </targets>

  <rules>
    
    <logger name="*" minlevel="warn" writeTo="mail" >
      <filters>
        <when condition="equals('${exception:format=shortType}', 'HttpException')" action="Ignore"/>
        <when condition="true" action="LogFinal"/>
      </filters>
    </logger>

    <logger name="*" minlevel="warn" writeTo="file"> </logger>

  </rules>
</nlog>
